In [3]:
from config import Settings
from Mimic import Mimic
from ICDCodesGrouper import ICDCodesGrouper as Grouper

In [4]:
grouper = Grouper(Settings())
mimic = Mimic(Settings(), grouper)

In [5]:
diag = mimic.read_diagnoses()

In [8]:
diag[(diag.SUBJECT_ID == 690) & (diag.HADM_ID == 174817)]

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,ccs,icd9chapters,icd9_level3
8354,7969,690,174817,NaN,NaN,-1,NaN,nan